<section id="about">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading text-uppercase">Ý Kiến Khách Hàng</h2>
          <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <ul class="timeline">
            <li>
              <div class="timeline-image wow shake">
                <img class="rounded-circle img-fluid" src="img/about/1.jpg" alt="">
              </div>
              <div class="timeline-panel wow jello" data-wow-delay="1s">
                <div class="timeline-heading">
                  <h4>Thời Gian</h4>
                  <h4 class="subheading">Tên Khách Hàng</h4>
                  <div>
                    <i class="fa fa-star" aria-hidden="true" style="color: rgb(177, 216, 4)"></i>
                    <i class="fa fa-star" aria-hidden="true" style="color: rgb(177, 216, 4)"></i>
                    <i class="fa fa-star" aria-hidden="true" style="color: rgb(177, 216, 4)"></i>
                    <i class="fa fa-star" aria-hidden="true" style="color: rgb(177, 216, 4)"></i>
                    <i class="fa fa-star" aria-hidden="true" style="color: rgb(177, 216, 4)"></i>
                  </div>
                </div>
                <div class="timeline-body">
                  <p class="text-muted">Nội Dung-Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam
                    reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium
                    consectetur!
                  </p>
                </div>
              </div>
            </li>
            <li class="timeline-inverted wow shake" data-wow-delay="1s">
              <div class="timeline-image">
                <img class="rounded-circle img-fluid" src="img/about/2.jpg" alt="">
              </div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h4>March 2011</h4>
                  <h4 class="subheading">An Agency is Born</h4>
                  <div>
                    <i class="fa fa-star" aria-hidden="true" style="color: rgb(177, 216, 4)"></i>
                    <i class="fa fa-star" aria-hidden="true" style="color: rgb(177, 216, 4)"></i>
                    <i class="fa fa-star" aria-hidden="true" style="color: rgb(177, 216, 4)"></i>
                    <i class="fa fa-star" aria-hidden="true" style="color: rgb(177, 216, 4)"></i>
                    <i class="fa fa-star" aria-hidden="true" style="color: rgb(177, 216, 4)"></i>
                  </div>
                </div>
                <div class="timeline-body">
                  <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis
                    temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
                </div>
              </div>
            </li>
            <li>
              <div class="timeline-image wow jello" data-wow-delay="1s">
                <img class="rounded-circle img-fluid" src="img/about/3.jpg" alt="">
              </div>
              <div class="timeline-panel wow shake" data-wow-delay="1s">
                <div class="timeline-heading">
                  <h4>December 2012</h4>
                  <h4 class="subheading">Transition to Full Service</h4>
                  <div>
                    <i class="fa fa-star" aria-hidden="true" style="color: rgb(177, 216, 4)"></i>
                    <i class="fa fa-star" aria-hidden="true" style="color: rgb(177, 216, 4)"></i>
                    <i class="fa fa-star" aria-hidden="true" style="color: rgb(177, 216, 4)"></i>
                    <i class="fa fa-star" aria-hidden="true" style="color: rgb(177, 216, 4)"></i>
                    <i class="fa fa-star" aria-hidden="true" style="color: rgb(177, 216, 4)"></i>
                  </div>
                </div>
                <div class="timeline-body">
                  <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis
                    temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
                </div>
              </div>
            </li>
            <li class="timeline-inverted wow jello" data-wow-delay="1s">
              <div class="timeline-image">
                <img class="rounded-circle img-fluid" src="img/about/4.jpg" alt="">
              </div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h4>July 2014</h4>
                  <h4 class="subheading">Phase Two Expansion</h4>
                  <div>
                    <i class="fa fa-star" aria-hidden="true" style="color: rgb(177, 216, 4)"></i>
                    <i class="fa fa-star" aria-hidden="true" style="color: rgb(177, 216, 4)"></i>
                    <i class="fa fa-star" aria-hidden="true" style="color: rgb(177, 216, 4)"></i>
                    <i class="fa fa-star" aria-hidden="true" style="color: rgb(177, 216, 4)"></i>
                    <i class="fa fa-star" aria-hidden="true" style="color: rgb(177, 216, 4)"></i>
                  </div>
                </div>
                <div class="timeline-body">
                  <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis
                    temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
                </div>
              </div>
            </li>
            <li class="timeline-inverted wow bounceInUp" data-wow-delay="1s">
              <div class="timeline-image">
                <h4>Be Part
                  <br>Of Our
                  <br>Story!</h4>
              </div>
            </li>
          </ul>
        </div>
      </div>

      <!-- Slide -->
      <div class="row">
        <div class="MultiCarousel" data-items="1,3,5,6" data-slide="1" id="MultiCarousel" data-interval="1000">
          <div class="MultiCarousel-inner">
            <div class="item">
              <div class="pad15">
                <p class="lead">Multi Item Carousel</p>
                <p>₹ 1</p>
                <p>₹ 6000</p>
                <p>50% off</p>
              </div>
            </div>
            <div class="item">
              <div class="pad15">
                <p class="lead">Multi Item Carousel</p>
                <p>₹ 1</p>
                <p>₹ 6000</p>
                <p>50% off</p>
              </div>
            </div>
            <div class="item">
              <div class="pad15">
                <p class="lead">Multi Item Carousel</p>
                <p>₹ 1</p>
                <p>₹ 6000</p>
                <p>50% off</p>
              </div>
            </div>
            <div class="item">
              <div class="pad15">
                <p class="lead">Multi Item Carousel</p>
                <p>₹ 1</p>
                <p>₹ 6000</p>
                <p>50% off</p>
              </div>
            </div>
            <div class="item">
              <div class="pad15">
                <p class="lead">Multi Item Carousel</p>
                <p>₹ 1</p>
                <p>₹ 6000</p>
                <p>50% off</p>
              </div>
            </div>
            <div class="item">
              <div class="pad15">
                <p class="lead">Multi Item Carousel</p>
                <p>₹ 1</p>
                <p>₹ 6000</p>
                <p>50% off</p>
              </div>
            </div>
            <div class="item">
              <div class="pad15">
                <p class="lead">Multi Item Carousel</p>
                <p>₹ 1</p>
                <p>₹ 6000</p>
                <p>50% off</p>
              </div>
            </div>
            <div class="item">
              <div class="pad15">
                <p class="lead">Multi Item Carousel</p>
                <p>₹ 1</p>
                <p>₹ 6000</p>
                <p>50% off</p>
              </div>
            </div>
            <div class="item">
              <div class="pad15">
                <p class="lead">Multi Item Carousel</p>
                <p>₹ 1</p>
                <p>₹ 6000</p>
                <p>50% off</p>
              </div>
            </div>
            <div class="item">
              <div class="pad15">
                <p class="lead">Multi Item Carousel</p>
                <p>₹ 1</p>
                <p>₹ 6000</p>
                <p>50% off</p>
              </div>
            </div>
            <div class="item">
              <div class="pad15">
                <p class="lead">Multi Item Carousel</p>
                <p>₹ 1</p>
                <p>₹ 6000</p>
                <p>50% off</p>
              </div>
            </div>
            <div class="item">
              <div class="pad15">
                <p class="lead">Multi Item Carousel</p>
                <p>₹ 1</p>
                <p>₹ 6000</p>
                <p>50% off</p>
              </div>
            </div>
            <div class="item">
              <div class="pad15">
                <p class="lead">Multi Item Carousel</p>
                <p>₹ 1</p>
                <p>₹ 6000</p>
                <p>50% off</p>
              </div>
            </div>
            <div class="item">
              <div class="pad15">
                <p class="lead">Multi Item Carousel</p>
                <p>₹ 1</p>
                <p>₹ 6000</p>
                <p>50% off</p>
              </div>
            </div>
            <div class="item">
              <div class="pad15">
                <p class="lead">Multi Item Carousel</p>
                <p>₹ 1</p>
                <p>₹ 6000</p>
                <p>50% off</p>
              </div>
            </div>
            <div class="item">
              <div class="pad15">
                <p class="lead">Multi Item Carousel</p>
                <p>₹ 1</p>
                <p>₹ 6000</p>
                <p>50% off</p>
              </div>
            </div>
          </div>
          <button class="btn btn-primary leftLst">
            <</button>

              <button class="btn btn-primary rightLst" id="next">></button>
        </div>

      </div>
    </div>
  </section>