<section class="bg-light" id="infomation">
    <div class="container-fluid" style="background-color:#f8f9fa">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading text-uppercase">Thông tin liên hệ</h2>
        </div>
      </div>
    </div>
    </br>
    <div class="row">

      <div class="col-sm-4">
        <div style="padding: 5%; text-align:center;">
          <p>
            Thông tin tài khoản
          </p>
          <span>
            Địa chỉ: thành phố hồ chí minh
          </span>
          </br>
          <span>
            Điện thoại: 1234567890
          </span>
        </div>
      </div>
      <div class="col-sm-4">
        <div style="width: 80%; height: 80%">
          <iframe src="https://www.youtube.com/embed/83FYTWb6P4k?autoplay=1" width="120%" height="120%" frameborder="10" allow="autoplay; encrypted-media"
            allowfullscreen></iframe>
        </div>
      </div>
      <div class="col-sm-4">
        <div style="height: 320px; width: 430px; margin: auto">
          <div class="fb-page" data-height="300" data-width="420" data-href="https://www.facebook.com/vaniartist/" data-tabs="timeline"
            data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true">
            <blockquote cite="https://www.facebook.com/vaniartist/" class="fb-xfbml-parse-ignore">
              <a href="https://www.facebook.com/vaniartist/">Xăm Chân Mày Tự Nhiên</a>
            </blockquote>
          </div>
        </div>
        <div id="fb-root"></div>
      </div>
    </div>
    </div>
  </section>