<section id="services">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading text-uppercase">Dịch Vụ Chúng Tôi</h2>
          <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quas magnam earum
            nostrum dignissimos, aliquid fugiat voluptatum veritatis eius eum tempore id veniam autem esse officiis unde
            animi neque ipsum quod.
          </h3>
        </div>
      </div>
      <div class="row text-center">
        <div class="col-md-4 wow pulse">
          <div>
            <img src="./img/about/1.jpg" class="img-circle" alt="Cinque Terre" width="304" height="236">
            <!-- <img src="./img/about/1.jpg" class="img-circle"> -->
          </div>
          <h4 class="service-heading">Phun Xăm</h4>
          <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex
            magni, dicta impedit.</p>
        </div>
        <div class="col-md-4 wow pulse">
          <div>
            <img src="./img/about/2.jpg" class="img-circle" alt="Cinque Terre" width="304" height="236">
            <!-- <img src="./img/about/1.jpg" class="img-circle"> -->
          </div>
          <h4 class="service-heading">Thuê Chân Mài</h4>
          <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex
            magni, dicta impedit.</p>
        </div>
        <div class="col-md-4 wow pulse">
          <div>
            <img src="./img/about/3.jpg" class="img-circle" alt="Cinque Terre" width="304" height="236">
            <!-- <img src="./img/about/1.jpg" class="img-circle"> -->
          </div>
          <h4 class="service-heading">Cắt Nối Mí</h4>
          <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex
            magni, dicta impedit.</p>
        </div>
      </div>
    </div>
  </section>